body {
  font-family: Verdana, Helvetica, sans-serif;
}

a {
  color: #D73F09;
  text-decoration: none;
}

a:focus,
a:hover {
  color: #FFB500;
  text-decoration: none;
}

body,
td,
th,
tr,
p,
a {
  font-size: 14px
}

heading {
  font-size: 26px;
}

papertitle {
  font-size: 16px;
  font-weight: 700;
  color: #D73F09;
}

name {
  font-size: 32px;
}

.one {
  width: 160px;
  height: 160px;
  position: relative;
}

.two {
  width: 160px;
  height: 160px;
  position: absolute;
  transition: opacity .2s ease-in-out;
  -moz-transition: opacity .2s ease-in-out;
  -webkit-transition: opacity .2s ease-in-out;
}

.fade {
  transition: opacity .2s ease-in-out;
  -moz-transition: opacity .2s ease-in-out;
  -webkit-transition: opacity .2s ease-in-out;
}

span.highlight {
  background-color: #ffffd0;
}

@media screen and (max-width:600px) {
  .block {
    display: block !important;
    width: 100% !important;
  }
}